@model IEnumerable<Player> // This is the same as a List, I could use this too
<h1>Players</h1>
<p>Count :@Model.Count()</p>
<div class="row">
    @foreach (var p in Model)
    {
        <div class="col-md-2">
            <div class="border bg-light rounded p-1">
                <!-- <img src="~/img/p.ArtId.jpg" class="image-fliud" /> -->
                <h3>@p.Name - @p.Position 
                    <form method="post" >
                        <button id="draftButton" class="btn btn-success" name="Id" value="@p.Id">Draft</button>
                    </form>
                </h3>
                <ul>
                    <li>Points: @p.Points</li>
                    <li>NBA Team: @p.NBATeam</li>
                    <li>Team: @p.FantasyTeam.Name</li>
                </ul>
            </div>
        </div>
    }
</div>